/*stilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
/*encabezados*/
h1, h2 {
    color: gray;
}

/*navegaciones*/

nav ul{
    list-style: none;
    padding: 0;
}

nav ul a {
    display: inline;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #0066cc;
}

nav a:hover {
    color: orange;
}

/* Imagen de perfil */
.perfil-img {
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
}

/* Tabla de proyectos */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/*dandole estilo de enlace al pie de pagina*/

footer a {
    color: #ff6600;
    text-decoration: none;
}

footer a:hover {
    color: #0066cc;
}

/* Selector "elemento, elemento" */

h1{
    color: black
}
h2 {
    color: grey;
    font-size: 1.8em;
}
p{
    color: black;
    font-size: 1em;
}
